{% block events %}
{% if events %}
{% for event in events %}
<div class="event-wrapper single-archive">
	<div class="row">
		<div class="col-md-12">
			<a href="{{event.permalink}}">
				 {% if event.thumb %}
				<div class="calendar image"><img src="{{event.thumb}}"></div>
				 {% else %}
				<div class="calendar">
					<table>
						<tr class="month"><td>{{event.month}}</td></tr>
						<tr class="day"><td><div class="date-text">{{event.day}}</div></td></tr>
					</table>
				</div>	
				 {% endif %}
			</a>
			<h1>
				<a href="{{event.permalink}}">{{event.title}}</a>
				{% if event.featured %}
				<div class="tag-wrapper">
					<span class="event-tag featured">Featured</span>
				</div>
				{% endif %}
			</h1>
			{% include 'components/eventdetails.twig' %}
			<p class="event-content">
				 {{event.trimmed_content}}
			</p>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}
{% endblock events %}