<div class="subnav">
	<div class="subnav-inner">
		<div class="about sub-menu animated fadeOut">
			<div class="container">
				<h2 class="subnav-title">About</h2>
				<div class="row">
				{% for item in aboutMenu.get_items %}
					<div class="col-md-3">
						<h4>{{item.title}}</h4>
						<ul>
						{% for child in item.get_children %}
							<li><a href="{{child.get_path}}">{{child.title}}</a></li>
						{% endfor %}
						</ul>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="campuses sub-menu animated fadeOut">
			<div class="container">
				<h2 class="subnav-title">Campuses</h2>
				<div class="row">
				{% for item in campusMenu.get_items %}
					<div class="col-md-3">
						<h4>{{item.title}}</h4>
						<ul>
						{% for child in item.get_children %}
							<li><a href="{{child.get_path}}">{{child.title}}</a></li>
						{% endfor %}
						</ul>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="ministries sub-menu animated fadeOut">
			<div class="container">
				<h2 class="subnav-title">Ministries</h2>
				<div class="row">
				{% for item in ministryMenu.get_items %}
					<div class="col-md-3">
						<h4>{{item.title}}</h4>
						<ul>
						{% for child in item.get_children %}
							<li><a href="{{child.get_path}}">{{child.title}}</a></li>
						{% endfor %}
						</ul>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="media sub-menu animated fadeOut">
			<div class="container">
				<h2 class="subnav-title">Media</h2>
				<div class="row">
				{% for item in mediaMenu.get_items %}
					<div class="col-md-3">
						<h4>{{item.title}}</h4>
						<ul>
						{% for child in item.get_children %}
							<li><a href="{{child.get_path}}">{{child.title}}</a></li>
						{% endfor %}
						</ul>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="devotionals sub-menu animated fadeOut">
			<div class="container">
				<h2 class="subnav-title">Devotionals</h2>
				<div class="row">
				{% for item in devotionalsMenu.get_items %}
					<div class="col-md-3">
						<h4>{{item.title}}</h4>
						<ul>
						{% for child in item.get_children %}
							<li><a href="{{child.get_path}}">{{child.title}}</a></li>
						{% endfor %}
						</ul>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>