{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        {% block header %}
			<div class="header-wrapper">
				<header class="header" role="banner">
					<div class="top-level container">
						<div class="header-inner">
							<div class="header-item logo-wrapper">
								<a href="{{site.url}}"><!--
									--><img class="logo" src="{{bloginfo('template_url')}}/library/images/bayside-white.svg"><!--
								--></a>
							</div>
							<div class="header-item campus-switcher-wrapper">
								<select id="campus-switcher">
									<option data-url="http://{{site.url}}">{{site.name}}</option>
									{% for campus in campuses %}
									<option data-url="http://{{campus.domain}}">{{campus.blogname}}</option>
									{% endfor %}
								</select>
								<i class="fa fa-caret-right"></i>
							</div>
							<div class="header-item search-wrapper">
								<form role="search" method="get" class="search" action="{{site.url}}/">
									<span class="screen-reader-text">Search for:</span>
									<input value="{{'the_search_query'|function}}" placeholder="search..." class="form-control" type="text" name="s" title="Search for:">
									<button type="submit" class=""><i class="fa fa-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<nav class="header">
				        <div class="container mainnav">
					        <div class="nav top-nav clearfix">
						        <ul>
								   <li><a id="about" class="sub-dropdown" href="javascript:void(0)">About</a></li><!--
								   --><li><a id="events" href="{{site.url}}/events">Events</a></li><!--
								   --><li><a id="campuses" class="sub-dropdown" href="javascript:void(0)">Campuses</a></li><!--
								   --><li><a id="ministries" class="sub-dropdown" href="javascript:void(0)">Ministries</a></li><!--
								   --><li><a id="give" href="{{site.url}}/give">Give</a></li><!--
								   --><li><a id="media" class="sub-dropdown" href="javascript:void(0)">Media</a></li><!--
								   --><li><a id="devotionals" class="sub-dropdown" href="javascript:void(0)">Devotionals</a></li>
						        </ul>
					        </div>
				        </div>
				    </nav>	
				</header>
			</div>
			{% endblock %}	
			<div class="page-wrapper">
				{% include 'components/subnav.twig' %}
				<section id="content" role="main" class="content-wrapper">
					{% block content %}
					{% endblock %}
				</section>
        {% block footer %}
			</div>
        	<footer class="footer" role="contentinfo">
				<div class="container">
					<div id="inner-footer" class="wrap clearfix">
						{% include 'footer.twig' %}
        			</div>
				</div>
			</footer>
        {% endblock %}
        {{ function('wp_footer') }}
    </body>
</html>