{% extends "base.twig" %}

{% block content %}

<div class="campus-header-wrapper" {% if post.campus_photo %}style="background-image:url('{{TimberImage(post.get_field('campus_photo')).src}}')" {% endif %}>
	<table>
		<tr>
			<td class="campus-logo">
				{% if post.campus_logo %}
					<img src="{{TimberImage(post.get_field('campus_logo')).src}}">
				{% else %}
					{{post.campus_name}}
				{% endif %}
			</td>
		</tr>
	</table>		
</div>
{% include 'components/badges.twig' %}
<div class="container section">
	<div class="row">
		<div class="col-md-6 weekend-services">
				<h2>Weekend Services</h2>
				<p>{{post.about_campus}}</p>	
			<!-- Inception loop for services -->			
				<div class="row">
				{% for day in campus.days %}
					<div class="col-md-6">
					<ul>
						<h3 class="service-day">{{day.day}}</h3>
						{% for service in day.services %}
							<li>{{service.time}}<span class="accent"> - {{service.features}}</span></li>
						{% endfor %}
					</ul>
					</div>
				{% endfor %}
				</div>
		</div>
		<div class="col-md-6">								
			<div class="map-wrapper">
				<div id="campus-map" style="width: 100%; height: 500px">
				</div>
				<div class="map-info">
					<h2>
					{% if post.location_name %}
					{{post.location_name}}
					{% else %}
					{{post.campus_name}}
					{% endif %}
					</h2>
					<h4>{{campus.address}}</h4>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class="events-outer section">
	<div class="container">
		<h1 class="events-archive-label">Upcoming Events</h1>
		<!-- Events Loop goes in here -->
		{% include 'components/events.twig' %}
	</div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqf_tUZR5C_oTNOML0nyR2WLLdIhvykiw&sensor=true"></script>
<script type="text/javascript">
	var myLatlng = new google.maps.LatLng({{campus.coordinates}});
	
	var mapOptions = {
	  center: myLatlng,
	  zoom: 12,
	  scrollwheel: false,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	
	var map = new google.maps.Map(document.getElementById("campus-map"), mapOptions);
	
	var marker = new google.maps.Marker({
	    position: myLatlng,
	    map: map,
	    title:"Hello World!"
	});	
</script>

{% endblock %}
