{% extends "base.twig" %}

{% block content %}

	<div class="container section event-wrapper single-event">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="row">
					<div class="col-md-12">
						{% if event.header %}
						<div class="event-header">
							<img src="{{event.header}}">
						</div>
						{% endif %}
						<h1>
							<span class="single-event-title">{{event.title}}</span>
							{% if event.ages %}
							<div class="tag-wrapper">
								<span class="event-tag">{{event.ages}}</span>
							</div>
							{% endif %}
						</h1>
						{% include 'components/eventdetails.twig' %}
						<p class="event-content">
							 {{event.content}}
						</p>
						<div class="event-links">
							{% if event.registration == 'url' %}
							<a href="{{event.registration_link}}" class="button">{{event.register}}</a>
							{% endif %}
							{% for download in post.get_field('download_links') %}
						    <a target="_blank" href="{{download.file}}">{{download.title}}</a>
						    {% endfor %}
						</div>
						{% if event.registration == 'form' %}
							<div class="event-registration-form">
								{{form|shortcodes}}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="row section">
					{% if event.map %}
					<div class="col-md-6">
						<div class="map-wrapper">
							<div id="event-map"></div>
							<div class="map-info">
								{% if event.custom_location_name %}
								{% endif %}
								<h3>{{event.custom_location_name}}</h3>
								<h5>{{event.map.address}}</h5>
							</div>
						</div>
					</div>
					{% endif %}
					{% if event.video %}
					<div class="col-md-6">
						<div class="videoWrapper">
							<iframe src="{{event.video}}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					{% endif %}
				</div>
			</section>
			
		</article>
	</div> <!-- /content-wrapper -->
	{% if event.map %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqf_tUZR5C_oTNOML0nyR2WLLdIhvykiw&sensor=true"></script>
	<script type="text/javascript">
		var myLatlng = new google.maps.LatLng({{event.map.coordinates}});
		
		var mapOptions = {
		  center: myLatlng,
		  zoom: 12,
		  scrollwheel: false,
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		
		var map = new google.maps.Map(document.getElementById("event-map"), mapOptions);
		
		var marker = new google.maps.Marker({
		    position: myLatlng,
		    map: map,
		    title:"Hello World!"
		});	
	</script>
	{% endif %}
{% endblock %}
